table{
    border-collapse: collapse;
    border: black solid;
    margin-right: 35%;
    float: right;
}

tr{
    padding: 50px;
   /* border: 1px solid; */
}

td{
    padding: 50px;
   /* border: 1px solid; */
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: #582f0e;
}
  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: #a68a64;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}