table{
    border-collapse: collapse;
    border: black solid;
    margin-right: 30%;
    margin-left: 20%;
    background: #83623e;
}

tr{
    padding: 50px;
   /* border: 1px solid; */
}

td{
    padding: 50px;
   /* border: 1px solid; */
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: #a68a64;
}

  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: #582f0e;
}


.bottom{
    padding: 10px;
    background: #83623e !important;      /* Utilisation d'importance témporaire (j'espère) - Je veux trouver une autre façon de mettre priorité aux ce 'class' */      
    text-align: center;
    border: black solid;
    
}

.right{
    padding: 10px;
    background: #83623e !important;      /* Utilisation d'importance témporaire (j'espère) - Je veux trouver une autre façon de mettre priorité aux ce 'class' */ 
    border: black solid;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h2{
    padding: 20px;
    text-decoration: underline;
    font-family: cursive;
    font-style: italic;
}

body{
    background-color: #582f0e;
}

footer{
    text-align: center;
}

#copyright{  
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
}
a{
    color: teal;
    font-style: italic;
    text-decoration: none;
}

#journ{
    background-color: #a68a64;
    border-left: 3px solid;
    border-right: 3px solid;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
}

p{
    font-size: 24px;
    font-family: cursive;
}

li{
    font-size: 20px;
    font-family: cursive;
}

.square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
  }
/*
.square:hover{ 
    background: black !important;
}
  */
